packages: [
  "atom-ide-ui"
  "atom-sync-cygwin"
  "busy-signal"
  "emmet"
  "file-icons"
  "ide-css"
  "intentions"
  "language-babel"
  "language-docker"
  "language-elixir"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "linter-ui-default"
  "markdown-scroll-sync"
  "minimap"
  "package-sync"
  "pigments"
  "rails-partials"
  "rails-snippets"
  "Sublime-Style-Column-Selection"
]
